// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 992px) {
  .house-cover-img {
    height: 35vh !important;
  }
}

.field p {
	font-size: 18px;
}

.house-cover-img {
	width: 100%;
	height: 65vh;
	background-size: cover;
  background-position: 50% 50%;
}

.house-page-intro {
	margin: 25px 0;
}

.house-page-img-list img {
  width: 100%;
  height: 185px;
  object-fit: cover;
  cursor: pointer;
}